.container {
    align-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 440px;
    justify-content: flex-end;
    max-width: 292px;
    padding: 24px;

    & > *:not(:last-child) {
        margin-bottom: 20px;
    }
}

.rate {
    display: flex;
}
