.container {
    align-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20%;
    width: 100vw;

    & > * {
        margin-bottom: 16px;
    }
}

.rate {
    display: flex;
}