.nav {
    background: rgba(29, 29, 29, 0.5);
    box-shadow: 0px 40px 40px 8px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(12px);
    width: 56px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: z-index(nav);
    flex-direction: column;
    justify-content: center;
    .main-logo {
        margin-top: 45px;
        display: block;
    }
    .nav-items {
        height: calc(100% - 105px);
        padding-top: 70px;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-around;
        align-items: center;
    }
}